fieldset,
legend,
button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: none;
	border: none;
	border-radius: 0;
	margin: 0;
	outline: none;
	padding: 0;
}

input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="time"] {
	border: 1px solid #ccc;
	font-size: 16px;
	margin: 0;
	outline: none;
	padding: 4px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="search"],
input[type="number"],
input[type="datetime"],
input[type="week"],
textarea,
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: none;
	border: 1px solid #ccc;
	border-radius: 0;
	font-size: 16px;
	margin-left: 0;
	margin-right: 0;
	outline: none;
	padding: 4px;
}

textarea {
	height: 100px;
	overflow: auto;
	width: 100%;
}

select {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAALJJREFUeNrslssNgCAQRCmB0ijBEuyEEijBEijBEizBEnAPy0UBWVj8JDvJJB5w3gsXVUoikXwsBrpAPdRCNcOmxi2P2yZ3cIKGU9dOCY0b590pdXhPHOyRyMEDsi4JhVIlSvBYTRGgSNTAQ+pFyyBRC7e5AdchUQt3d1fYIsEGb5Fgh1MktlFwisQwOIeE4/pGuDfhLRLscIrEMHiNxHB4SeIxeMyMPxkenyUSyT9zCDAAj5btZ4c3zaUAAAAASUVORK5CYII=");
	background-position: right 8px center;
	background-repeat: no-repeat;
	background-size: 12px 12px;
	padding-right: 30px;
}

.select {
	background: #fff;
	display: inline-block;
	overflow: hidden;
	position: relative;
}

.select select {
	background: none;
	border: 1px solid #ccc;
	cursor: pointer;
	padding-right: 24px;
	text-overflow: "";
	width: 100%;
}

.select::before {
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #666;
	content: "";
	height: 0;
	padding: 0;
	pointer-events: none;
	position: absolute;
	right: 8px;
	top: 13px;
	width: 0;
}

/* radio & checkbox */

input[type="radio"],
input[type="checkbox"] {
	display: none;
}

input[type="radio"] + span,
input[type="checkbox"] + span {
	color: #555;
	cursor: pointer;
	display: inline-block;
	font-size: 1.4rem;
	line-height: 1;
	margin-left: 8px;
	padding: 10px 20px;
	position: relative;
	text-align: center;
}

input[type="radio"] + span::before,
input[type="checkbox"] + span::before {
	background: #fff;
	border: 1px solid #ccc;
	content: "";
	height: 16px;
	left: -8px;
	margin-top: -8px;
	position: absolute;
	top: 50%;
	width: 16px;
}

/* fieldset */

fieldset {
	border: 1px solid #ccc;
	padding: 8px 16px;
}

legend {
	padding: 0 8px;
}

/* button */

input[type="submit"],
input[type="reset"],
input[type="button"],
button {
	-webkit-box-sizing: content-box;
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;
	background: #efefef;
	border: 1px solid #999;
	border-radius: 0;
	color: #000;
	cursor: pointer;
	display: inline-block;
	font-size: 20px;
	margin: 0;
	padding: 10px 30px;
}

/* ブラウザ対策
---------------------------------------------------------------------------- */

/* Firefox */

/* IE */

select::-ms-expand {
	display: none;
}

/* webkit */

/* iOS */

input[type="submit"]::-webkit-search-decoration,
input[type=reset]::-webkit-search-decoration,
input[type="button"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-decoration {
	display: none;
}

::-webkit-search-cancel-button {
	-webkit-appearance: none;
}

input[type="search"]::-webkit-search-decoration {
	-moz-appearance: none;
	-webkit-appearance: textfield;
	-webkit-box-sizing: border-box;
	-webkit-appearance: none;
	appearance: none;
	background: none;
	border: 0;
	border-radius: 0;
	font-size: 16px;
	margin: 0;
	outline: none;
	padding: 0;
}

/* 挙動
---------------------------------------------------------------------------- */

/* hover */

input:hover,
textarea:hover,
select:hover {
	border-color: #666;
}

input[type="radio"] + span:hover,
input[type="checkbox"] + span:hover {
	color: #000;
}

input[type="radio"] + span:hover::before,
input[type="checkbox"] + span:hover::before {
	border-color: #000;
}

input[type="radio"] + span:hover::after,
input[type="checkbox"] + span:hover::after {
	background: #ccc;
	content: "";
	height: 8px;
	left: -4px;
	margin-top: -4px;
	position: absolute;
	top: 50%;
	width: 8px;
}

/* checked */

input[type="radio"]:checked + span,
input[type="checkbox"]:checked + span {
	color: #3498db;
}

input[type="radio"]:checked + span::before,
input[type="checkbox"]:checked + span::before {
	border-color: #3498db;
}

input[type="radio"]:checked + span::after,
input[type="checkbox"]:checked + span::after {
	background: #3498db;
	content: "";
	height: 8px;
	left: -4px;
	margin-top: -4px;
	position: absolute;
	top: 50%;
	width: 8px;
}

/* radio */

input[type="radio"] + span::before,
input[type="radio"] + span:hover::after,
input[type="radio"]:checked + span::after {
	border-radius: 50%;
}

/* button */

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:hover {
	background: #3498db;
	border-color: #3498db;
	color: #fff;
}

/* focus */

input:focus,
textarea:focus {
	border-color: #3498db;
}

input[type="submit"]:focus,
input[type=reset]:focus,
input[type="button"]:focus,
input[type="search"]:focus {
	outline-offset: -2px;
}

/* disabled */

input:disabled,
input:disabled:hover,
textarea:disabled,
textarea:disabled:hover {
	background: #eee;
	border-color: #ccc;
	cursor: not-allowed;
}

input[type="radio"]:disabled + span,
input[type="checkbox"]:disabled + span {
	color: #ccc;
	cursor: not-allowed;
}

input[type="radio"]:disabled + span::before,
input[type="checkbox"]:disabled + span::before {
	border-color: #ccc;
	cursor: not-allowed;
}

/* バリデーション */

/* placeholder */

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* リキッドレイアウト対応 */

html {
	font-size: 4.26667vw;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #fff;
	color: #333;
	font-family: "";
	font-size: 16px;
	font-weight: 400;
	line-height: 1.6;
	min-height: 100vh;
	min-height: -webkit-fill-available;
	overflow-wrap: break-word;
	position: relative;
	z-index: -9999;
}

/* Box sizing rules */

*,
*::before,
*::after {
	box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
em,
small,
strong,
sub,
sup,
mark,
del,
ins,
strike,
abbr,
dfn,
blockquote,
q,
cite,
code,
pre,
ol,
ul,
li,
dl,
dt,
dd,
div,
section,
article,
main,
aside,
nav,
header,
hgroup,
footer,
img,
figure,
figcaption,
address,
time,
audio,
video,
canvas,
iframe,
details,
summary,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
	border: 0;
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	cursor: pointer;
	text-decoration: none;
}

img {
	border: none;
	height: auto;
	max-width: 100%;
	vertical-align: top;
}

video,
iframe,
object {
	border: none;
	height: auto;
	max-width: 100%;
}

ul,
ol {
	list-style: none;
}

table {
	border: 1px solid;
	border-collapse: collapse;
	border-spacing: 0;
	table-layout: fixed;
	width: 100%;
}

th,
td {
	border: 1px solid;
	padding: 4px 6px;
	text-align: left;
	vertical-align: top;
}

blockquote,
q {
	quotes: none;
}

blockquote::after,
blockquote::before,
q::after,
q::before {
	content: "";
	content: none;
}

address {
	font-style: normal;
}

b,
strong {
	font-weight: 700;
}

form {
	margin: 0;
	padding: 0;
}

label {
	display: inline-block;
}

a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
	touch-action: manipulation;
}

input,
button,
select,
optgroup,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	margin: 0;
}

button,
select {
	text-transform: none;
}

select {
	cursor: pointer;
}

textarea {
	-ms-overflow-style: scrollbar;
	overflow: auto;
	resize: vertical;
}

dialog {
	background-color: inherit;
	border: solid;
	color: inherit;
	display: block;
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
	left: 0;
	margin: auto;
	padding: 1em;
	position: absolute;
	right: 0;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
}

dialog:not([is-open]) {
	display: none;
}

summary {
	cursor: pointer;
	display: list-item;
}

/* Remove all animations and transitions for people that prefer not to see them */

.l-breadcrumb {
	margin-top: 1.5rem;
}

.l-footer {
	margin-top: 4rem;
}

.l-inner {
	height: inherit;
	margin: 0 auto;
	max-width: 100%;
	padding-left: 20px;
	padding-right: 20px;
	width: 1000px;
}

.l-margin {
	margin-top: 4rem;
}

.l-pager {
	margin-top: 3rem;
}

.c-card {
	background-color: #fff;
	display: flex;
	flex-direction: column;
}

.c-card__info {
	align-items: center;
	display: flex;
	justify-content: space-between;
	line-height: 1;
}

.c-card__title {
	font-size: 1.5rem;
	text-align: center;
}

.c-card__category {
	background-color: #8ac343;
	font-size: 0.75rem;
	padding: 0.5rem;
}

.c-card__time {
	font-size: 0.75rem;
}

.c-card__body {
	padding: 1rem;
}

.c-card__info {
	margin-top: auto;
	padding: 0 1rem;
}

.c-card__img {
	padding-top: 61.8046%;
	position: relative;
}

.wp-block-image {
	padding-top: 61.8046%;
	position: relative;
}

.wp-block-image img {
	-o-object-fit: cover;
	border-radius: 0.625rem;
	height: 100%;
	left: 0;
	object-fit: cover;
	position: absolute;
	top: 0;
	width: 100%;
}

.c-card__img img {
	-o-object-fit: cover;
	border-radius: 0.625rem;
	height: 100%;
	left: 0;
	object-fit: cover;
	position: absolute;
	top: 0;
	width: 100%;
}

.c-card__text {
	padding-top: 1rem;
}

.c-btn {
	display: inline-block;
}

.c-btn a {
	align-items: center;
	background-color: #fff;
	border: 0.0625rem solid #8ac343;
	border-radius: 1.5625rem;
	color: #8ac343;
	display: flex;
	font-size: 1rem;
	justify-content: space-between;
	margin: 0 auto;
	padding: 0.625rem 1.875rem;
}

.c-btn a::after {
	border-right: 0.0625rem solid #8ac343;
	border-top: 0.0625rem solid #8ac343;
	content: '';
	height: 0.3125rem;
	margin-left: 1.25rem;
	transform: rotate(45deg);
	width: 0.3125rem;
}

.c-btn a:hover {
	background-color: #8ac343;
	color: #fff;
}

.c-btn a:hover::after {
	border-color: #fff;
}

.c-comon-title {
	background: #8ac343;
	width: 100%;
}

.c-comon-title__inner {
	padding: 1.5rem 0;
}

.c-comon-title__title {
	color: #fff;
	font-size: 1.5rem;
	text-align: center;
}

.c-hamburger {
	z-index: 9999;
}

.c-hamburger span {
	background: #8ac343;
	display: block;
	height: 0.125rem;
	position: relative;
	transition: ease .3s;
	width: 1.875rem;
}

.c-hamburger span:nth-child(1) {
	top: 0;
}

.c-hamburger span:nth-child(2) {
	margin-bottom: 0.375rem;
	margin-top: 0.375rem;
}

.c-hamburger span:nth-child(3) {
	top: 0;
}

/*OPEN時の動き*/

.c-hamburger.open span:nth-child(1) {
	top: 0.4375rem;
	transform: rotate(315deg);
}

.c-hamburger.open span:nth-child(2) {
	opacity: 0;
	transform: translateY(-50%);
}

.c-hamburger.open span:nth-child(3) {
	top: -0.5625rem;
	transform: rotate(-315deg);
}

.c-test {
	color: red;
	font-size: 1.25rem;
}

.c-timetable {
	border: none;
	max-width: inherit;
	width: inherit;
}

.c-timetable th {
	background-color: #8ac343;
	border: none;
	border-right: 0.0625rem solid #fff;
	color: #fff;
	text-align: center;
}

.c-timetable th:last-of-type {
	border: none;
}

.c-timetable th:first-of-type {
	border-radius: 0.625rem 0 0;
}

.c-timetable th:last-of-type {
	border-radius: 0 0.625rem 0 0;
}

.c-timetable__title {
	width: 30%;
}

.c-timetable__text {
	width: 10%;
}

.c-timetable td {
	border: 0.0625rem solid #d2d2d2;
	border-bottom: none;
	text-align: center;
}

.c-timetable td:first-of-type {
	border: none;
	border-top: 0.0625rem solid #d2d2d2;
}

.c-timetable td:last-of-type {
	border: none;
	border-top: 0.0625rem solid #d2d2d2;
}

.c-top {
	bottom: 1.25rem;
	display: none;
	position: fixed;
	right: 1.25rem;
	z-index: 1000;
}

.c-top .c-top__link {
	background-color: #8ac343;
	border-radius: 50%;
	color: #fff;
	display: block;
	height: 3.125rem;
	padding: 0.75rem;
	text-align: center;
	text-decoration: none;
	width: 3.125rem;
}

.c-top .c-top__link:hover {
	opacity: 0.8;
}

.p-about {
	-webkit-animation-name: fadeup;
	-webkit-animation-duration: 1.5s;
	-webkit-animation-timing-function: ease-out;
	-webkit-animation-fill-mode: forwards;
	animation-duration: 1.5s;
	animation-fill-mode: forwards;
	animation-name: fadeup;
	animation-timing-function: ease-out;
	background: #F0FCE5;
	opacity: 0;
	padding: 1.5rem 0;
}

.p-about__inner {
	margin: 0 auto;
	max-width: 100%;
	width: 1000px;
}

.p-about__title {
	text-align: center;
}

.p-about__text {
	text-align: center;
}

.p-about__feature {
	margin-top: 1.5rem;
}

.p-about__btn {
	display: flex;
	justify-content: center;
	margin-top: 1.5625rem;
}

.p-about__wrapper {
	display: flex;
	flex-direction: column;
	margin-top: 1.5625rem;
}

.p-about__img img {
	border-radius: 0.625rem;
	width: 100%;
}

.p-about__textbox {
	margin-top: 1.5rem;
}

.xo-event-calendar {
	max-width: 100%;
	width: 25rem;
}

.p-cardlist {
	display: flex;
	flex-wrap: wrap;
}

.p-cardlist__item {
	max-width: 100%;
}

.p-cardlist__item:nth-child(n+2) {
	margin-top: 1rem;
}

.p-consultation__table {
	border: 1px solid #d2d2d2;
	border-radius: 10px;
	box-sizing: border-box;
	display: inline-block;
	margin-top: 2rem;
	max-width: inherit;
	width: inherit;
}

.p-consultation__textbox {
	margin-top: 1rem;
}

.p-drawer-menu {
	background-color: rgba(255, 255, 255, 0.6);
	display: none;
	height: 100vh;
	width: 100%;
	z-index: 100;
}

.p-drawer-menu__items {
	margin-top: 1.25rem;
}

.p-drawer-menu__item {
	border-bottom: 1px solid #d2d2d2;
	border-left: 5px solid #8ac343;
}

.p-drawer-menu__item a {
	color: #333;
	display: block;
	font-size: 1.25rem;
	font-weight: 800;
	line-height: 1;
	padding: 0.9375rem;
	text-decoration: none;
	text-transform: uppercase;
	width: 100%;
}

.p-feature {
	background: #fff;
	border-radius: 1.5625rem;
	padding: 1.5rem;
}

.p-feature__textbox {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-top: 1.5rem;
}

.p-feature__title {
	font-size: 1.25rem;
	text-align: center;
}

.p-feature__rightbox,
.p-feature__leftbox {
	max-width: 100%;
	width: 350px;
}

.p-feature__text {
	font-size: 1rem;
}

.p-footer__inner {
	padding: 0.5rem;
}

.p-footer__copyright {
	display: flex;
	justify-content: center;
	margin-top: 1.5rem;
}

.p-footer__logo {
	margin-top: 3rem;
	max-width: 80%;
	width: 18.75rem;
}

.p-gnav__menu {
	padding-bottom: 0.625rem;
	padding-top: 0.625rem;
	width: 1000px;
}

.p-gnav__items {
	display: flex;
	justify-content: center;
}

.p-gnav__item {
	border-left: 1px solid #d2d2d2;
	color: #333;
	padding: 0.3125rem;
	text-align: center;
	width: calc(100% / 5);
}

.p-gnav__item a {
	position: relative;
}

.p-gnav__item a::after {
	background: #8ac343;
	bottom: 0px;
	content: '';
	height: 0.125rem;
	left: 0;
	position: absolute;
	transform: scale(0, 1);
	transform-origin: center top;
	transition: transform .3s;
	width: 100%;
}

.p-gnav__item a:hover::after {
	transform: scale(1, 1);
}

.p-gnav__item:last-child {
	border-right: 1px solid #d2d2d2;
}

.p-gnav__item a {
	display: inline-block;
	width: 100%;
}

.p-gnav {
	background-color: white;
	position: static;
	width: 100%;
	z-index: 1000;
}

.p-gnav.m_fixed {
	position: fixed;
	top: 0;
}

.p-header__box,
.p-header__sp {
	align-items: center;
	background: #fff;
	display: flex;
	justify-content: space-between;
}

.p-header__sp.m_fixed {
	position: fixed;
	top: 0;
	z-index: 1000;
}

.p-header__logo {
	font-size: 1.5rem;
	max-width: 13.75rem;
	width: 100%;
}

.p-header__title {
	font-size: 0.625rem;
	text-align: center;
}

.p-header__menutext {
	line-height: 1;
}

.p-header__menutext span {
	color: #8ac343;
	font-size: 0.625rem;
}

.p-header__drawer span {
	margin: 0 auto;
}

.p-header__overlay {
	background-color: rgba(255, 255, 255, 0.6);
	display: none;
	height: 100vh;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: -1;
}

.p-header__nav {
	display: flex;
	height: inherit;
	justify-content: center;
	padding-left: 20px;
	padding-right: 20px;
}

.p-header__spbox {
	display: flex;
	justify-content: center;
}

.p-header__sptel {
	background-color: #F0FCE5;
	color: #8ac343;
	display: flex;
	flex-direction: column;
	font-size: 1.5rem;
	line-height: 1;
	padding: 4px 10px;
}

.p-header__sptel a {
	font-size: 16px;
}

.p-header__sptel span {
	padding-top: 0.25rem;
}

.p-header__menubox {
	background-color: #F0FCE5;
	margin-left: 0.5rem;
	padding-top: 0.25rem;
}

.p-header__sptel span {
	color: #8ac343;
	font-size: 0.625rem;
}

.p-info__inner {
	margin: 0 auto;
}

.p-info__title {
	text-align: center;
}

.p-info__cards {
	margin-top: 1rem;
}

.p-info__cards .c-card__img {
	border-radius: 0.625rem;
	overflow: hidden;
}

.p-info__cards a:hover .c-card__img img {
	opacity: 0.6;
	transform: scale(1.1); /* 拡大 */
	transition-duration: 0.3s;
}

.p-info__btn {
	display: flex;
	justify-content: center;
	margin-top: 1rem;
}

.p-map__title {
	text-align: center;
}

.p-map__iframe {
	margin-top: 1.5rem;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.p-map__iframe::after {
	content: "";
	display: block;
	padding-top: 136.231884%;
}

.p-map__iframe iframe {
	height: 100%;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

._p-mv {
	align-items: center;
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
	display: flex;
	height: 26.25rem;
	justify-content: center;
	margin-bottom: 2.5rem;
	position: relative;
}

.p-reception__inner {
	display: flex;
	flex: wrap;
	flex-direction: column;
	margin: 0 auto;
	max-width: 100%;
	width: 1000px;
}

.p-slick {
	height: auto;
	width: 100vw;
}

.p-slick img {
	width: 100vw;
}

.p-staff__wrapper {
	display: flex;
	flex-direction: column;
}

.p-staff__box {
	max-width: 100%;
	width: 20rem;
}

.p-staff__name {
	font-size: 1.5rem;
	text-align: center;
}

.p-staff__messagebox {
	margin-top: 1.5rem;
	max-width: 100%;
	width: 100%;
}

.p-staff__subtitle {
	color: #8ac343;
	text-align: center;
}

.p-staff__title {
	text-align: center;
}

.p-staff__message {
	margin-top: 1.5rem;
}

.p-staff__infowrapper {
	display: flex;
	flex-direction: column;
	margin-top: 3rem;
}

.p-staff__infoitem {
	border-bottom: 1px solid #d2d2d2;
	padding: 0.5rem;
}

.p-staff_infolist {
	margin-top: 1rem;
}

.p-staff__infotitle {
	text-align: center;
}

.p-staff__belongbox {
	margin-top: 1.5rem;
	max-width: 100%;
	width: 25rem;
}

.p-staff__infobox {
	max-width: 100%;
	width: 25rem;
}

.p-sub-about__messagebox {
	margin-top: 4rem;
}

.p-sub-about__subtitle {
	color: #8ac343;
	font-size: 1.375rem;
	margin-top: 3rem;
	text-align: center;
}

.p-sub-about__featurebox {
	margin-top: 3rem;
}

.p-sub-about__features {
	margin-top: 3rem;
}

.p-sub-about__cards {
	margin-top: 3rem;
}

.p-sub-access__map {
	margin-top: 3rem;
}

.p-sub-access__box {
	margin-top: 1.5rem;
	width: 100%;
}

.p-sub-access__item {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.p-sub-access__title {
	color: #8ac343;
	max-width: 100%;
	padding: 0.5rem;
	width: 100%;
}

.p-sub-access__text {
	max-width: 100%;
	padding-left: 2rem;
	width: 100%;
}

.p-sub-feature {
	display: flex;
	flex-direction: column;
	padding: 1.5rem;
	width: 100%;
}

.p-sub-feature:nth-of-type(odd) {
	background: #F0FCE5;
}

.p-sub-feature:nth-of-type(even) {
	flex-direction: column;
}

.p-sub-feature__body {
	max-width: 100%;
	padding-top: 1.5rem;
	width: 582px;
}

.p-sub-feature:nth-of-type(even) .p-sub-feature__body {
	padding-left: 0;
	padding-right: 1.5rem;
}

.p-sub-feature__no {
	background: #8ac343;
	border-radius: 50%;
	color: #fff;
	display: inline-block;
	font-weight: bold;
	line-height: 1;
	padding: 0.625rem 0.5rem;
}

.p-sub-feature__titlebox {
	align-items: center;
	display: flex;
}

.p-sub-feature__title {
	margin-left: 1rem;
}

.p-sub-feature__text {
	margin-top: 1rem;
	padding-left: 1rem;
}

.p-sub-feature__img {
	max-width: 100%;
	width: 20rem;
}

.p-sub-feature__img img {
	max-width: inherit;
	width: inherit;
}

.box {
	display: flex;
	padding: 20px;
}

.box .img {
	margin: 0 20px 0 0;
}

.box:nth-child(even) {
	flex-direction: row-reverse;
}

.box:nth-child(even) .img {
	margin: 0 0 0 20px;
}

.text-box {
	width: calc(100% - 320px);
}

/* unrelated css */

.img {
	align-items: center;
	background: #bbb;
	color: #fff;
	display: flex;
	font-size: 36px;
	height: 200px;
	justify-content: center;
	width: 300px;
}

.p-sub-staff__item {
	margin-top: 4rem;
}

.p-sub-topic__box {
	margin: 4rem auto 0;
}

.p-sub-topic__title {
	margin-top: 1rem;
}

.p-sub-topic__text {
	margin-top: 4rem;
}

.p-sub-topic__pager {
	align-items: center;
	color: #8ac343;
	display: flex;
	justify-content: center;
	margin-top: 5rem;
}

.p-sub-topic__btn {
	margin-left: 2rem;
}

.p-sub-topic__after {
	margin-left: 2rem;
}

.p-sub-topics__list {
	margin-top: 4rem;
}

.p-tel {
	border: 1px solid #8ac343;
	border-radius: 1rem;
	color: #8ac343;
	line-height: 1.5;
	margin-top: 1.5rem;
	padding: 0.5rem 1rem;
}

.p-tel__text {
	font-size: 0.875rem;
	text-align: center;
}

.p-tel__no {
	font-size: 1.25rem;
	padding-top: 0rem;
	text-align: center;
}

.p-test {
	color: red;
	font-size: 1.25rem;
}

.p-topic {
	border-bottom: 1px solid #d2d2d2;
	display: flex;
	padding: 0.5rem;
}

.p-topic__text {
	margin-left: 3rem;
}

.p-topics__item {
	margin: 1.5rem auto 0;
}

.p-topics__title {
	text-align: center;
}

.p-topics {
	background-color: #F0FCE5;
}

.p-topics__inner {
	padding: 3rem;
}

.p-topics__btn {
	display: flex;
	justify-content: center;
	margin-top: 1.5rem;
}

.p-treatment__inner {
	margin-top: 4rem;
}

.p-treatment__box {
	display: flex;
	flex-direction: column;
	margin-top: 1.5rem;
}

.p-treatment__title {
	margin-top: 1.5rem;
}

.p-treatment__img {
	max-width: 100%;
	width: 20rem;
}

.p-treatment__img img {
	width: inherit;
}

.p-treatment__body {
	max-width: 100%;
	width: 100%;
}

.p-treatment__text {
	margin-top: 1.5rem;
}

.fadeUp {
	-webkit-animation-name: fadeUpAnime;
	-webkit-animation-duration: 1s;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-timing-function: ease-in-out;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-name: fadeUpAnime;
	animation-timing-function: ease-in-out;
	opacity: 0;
}

.fadeUpTrigger {
	opacity: 0;
}

html.is-fixed,
html.is-fixed body {
	height: 100%;
	overflow: hidden;
}

body.login {
	background: url("<?php echo get_template_directory_uri() ?>/assets/img/common/introduction4.jpg") no-repeat center center;
	background-size: cover;
}

.page-numbers {
	display: flex;
	justify-content: center;
}

.prev .page-numbers {
	border: 0.0625rem solid #8ac343;
	color: #333;
	margin-right: 1.5rem;
	padding: 0.3125rem 0.8125rem;
}

li .page-numbers {
	border: 0.0625rem solid #8ac343;
	color: #333;
	margin-right: 1rem;
	padding: 0.3125rem 0.625rem;
}

li .page-numbers:hover:not(.current) {
	background-color: #8ac343;
	color: #fff;
}

.next .page-numbers {
	border: 0.0625rem solid #8ac343;
	color: #fff;
	margin-right: 1.5rem;
	padding: 0.3125rem 0.8125rem;
}

.page-numbers .current {
	background-color: #8ac343;
	color: #fff;
}

@media (prefers-reduced-motion: reduce) {

html:focus-within {
	scroll-behavior: auto;
}

}

@media screen and (min-width: 375px) {

html {
	font-size: 16px;
}

}

@media screen and (min-width: 768px) {

html {
	font-size: 1.6vw;
}

.l-header {
	padding: 0.5rem 0 0;
}

.l-inner {
	padding-left: 25px;
	padding-right: 25px;
}

.l-reception + .l-reception {
	margin-left: 4rem;
}

.c-test {
	color: green;
	font-size: 3.125rem;
}

.c-timetable__title {
	width: 44%;
}

.c-timetable__text {
	width: 8%;
}

.c-top {
	bottom: 2.8125rem;
	right: 2.8125rem;
}

.p-about__wrapper {
	flex-direction: initial;
}

.p-about__img {
	margin-right: 1.5625rem;
}

.p-cardlist__item {
	max-width: calc(33.3% - 0.66667rem);
	width: 100%;
}

.p-cardlist__item + .p-cardlist__item {
	margin-left: 1rem;
}

.p-cardlist__item:nth-child(3n + 1) {
	margin-left: 0;
}

.p-cardlist__item:nth-child(n+2) {
	margin-top: 0;
}

.p-cardlist__item:nth-child(n+4) {
	margin-top: 1rem;
}

.p-consultation__table {
	width: 25rem;
}

.p-feature__textbox {
	flex-direction: initial;
	flex-wrap: wrap;
}

.p-feature__rightbox {
	margin-left: 5rem;
}

.p-header__logo {
	max-width: 15.625rem;
}

.p-header__nav {
	padding-left: 25px;
	padding-right: 25px;
}

.p-map__iframe::after {
	padding-top: 40%;
}

._p-mv {
	margin-bottom: 4.375rem;
}

.p-reception__inner {
	flex-direction: initial;
}

.p-staff__wrapper {
	flex-direction: initial;
}

.p-staff__messagebox {
	margin-left: 2.5rem;
	margin-top: 0;
	width: calc(68% - 50px);
}

.p-staff__infowrapper {
	flex-direction: initial;
}

.p-staff__infoitem {
	padding: 0.5rem 1.5rem;
}

.p-staff__belongbox {
	margin-left: 5rem;
	margin-top: 0;
}

.p-sub-access__item {
	flex-direction: initial;
}

.p-sub-access__title {
	width: 20%;
}

.p-sub-access__text {
	padding: 0.5rem;
	width: 80%;
}

.p-sub-feature {
	flex-direction: initial;
}

.p-sub-feature:nth-of-type(even) {
	flex-direction: row-reverse;
}

.p-sub-feature__body {
	padding-left: 1.5rem;
	padding-top: 0;
}

.p-sub-feature__text {
	padding-left: 3.5rem;
}

.p-tel {
	margin-top: 0;
}

.p-test {
	color: green;
	font-size: 3.125rem;
}

.p-treatment__box {
	flex-direction: initial;
}

.p-treatment__title {
	margin-top: 0;
}

.p-treatment__body {
	margin-left: 2.5rem;
	width: calc(68% - 50px);
}

}

@media (min-width: 1000px) {

html {
	font-size: 16px;
}

}

@media screen and (min-width: 1000px) {

.c-test {
	color: blue;
}

.p-test {
	color: blue;
}

.u-hidden-pc {
	display: none;
}

}

@media screen and (min-width: 1440px) {

.c-test {
	color: brown;
}

.p-test {
	color: brown;
}

}

@media screen and (max-width: 768px) {

.u-hidden-sp {
	display: none;
}

}

@-webkit-keyframes fadeUpAnime {

from {
	opacity: 0;
	transform: translateY(100px);
}

to {
	opacity: 1;
	transform: translateY(0);
}

}

@keyframes fadeUpAnime {

from {
	opacity: 0;
	transform: translateY(100px);
}

to {
	opacity: 1;
	transform: translateY(0);
}

}

