.p-about{
  opacity: 0;
  animation-name: fadeup;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  background: $background2;
  padding: rem(24) 0;
}

.p-about__inner{
  width: $l-inner;
  max-width: 100%;
  margin: 0 auto;
}

.p-about__title{
  text-align: center;
}

.p-about__text{
  text-align: center;
}

.p-about__feature{
  margin-top: rem(24);
}

.p-about__btn{
  display: flex;
  justify-content: center;
  margin-top: rem(25);
}

.p-about__wrapper{
  display: flex;
  flex-direction: column;
  margin-top: rem(25);
  @include mq(tab){
    flex-direction: initial;
  }
  // align-items: center;
}

.p-about__img{
  @include mq(tab){
    margin-right: rem(25);
    }
}

.p-about__img img{
  width: 100%;
  border-radius: rem(10);
}

.p-about__textbox{
  margin-top: rem(24);
  // @include mq(tab){
  //   margin-top: 0;
  // }
}