.p-consultation{
  // width: 100%;
  max-width: 100%;
@include mq(tab){
  width: calc(50% - 40px);
  }
}

.p-consultation__table{
  border: 1px solid $border-color;
  display: inline-block;
  border-radius: 10px;
  box-sizing: border-box;
  width: inherit;
  max-width: inherit;
  margin-top: rem(32);
  @include mq(tab){
    width: rem(400);
  }

}

.p-consultation__textbox{
    margin-top: rem(16);
}

.p-consultation__title{
  text-align: center;
}