.p-calendar{
    // width: 100%;
    max-width: 100%;
  @include mq(tab){
    width: calc(50% - 40px);
    }
}

// .p-calender__box{
//   margin-top: rem(24);
// }

.xo-event-calendar{
  width: rem(400);
  max-width: 100%;
  // height: 200px;
}

.p-calender__title{
  text-align: center;
}