.p-footer{
  // background-color: $border-color;
  // background-color: $background2;
  // margin-bottom: rem(80);
}
.p-footer__inner{
  padding-top: rem(8);
  padding-bottom: rem(8);

}

.p-footer__copyright{
  display: flex;
  justify-content: center;
  margin-top: rem(24);
}

.p-footer__logo{
  margin-top: rem(48);
  max-width: 80%;
  width: rem(300);
}