.p-feature{
  background: $background;
  padding: rem(24);
  border-radius: rem(25);
}

.p-feature__textbox{
  padding-top: rem(24);
  display: flex;
  justify-content: center;
  flex-direction: column;

  @include mq(tab){
    flex-direction:initial;
    flex-wrap: wrap;
  }
}
.p-feature__title{
  font-size: rem(20);
  text-align: center;
}

.p-feature__rightbox,
.p-feature__leftbox{
  width: rem(300);
  max-width: 100%;
  margin: 0 auto;
}

.p-feature__rightbox{
  @include mq(tab){
    margin-left: rem(80);
  }
}
.p-feature__text{
  font-size: rem(16);
  @include mq(tab){
  }
}