.p-header{
	@include mq(tab){
    padding: rem(8) 0 0;
  }
}

.p-header__box,
.p-header__sp
{
  display: flex;
  justify-content: space-between;
  align-items: center;
	background: $background;
}

.p-header.m_fixed,
.p-header__sp.m_fixed {
	position: fixed;
	top: 0;
	left: 0;
	z-index: $z-index-top;
}

.p-header__logo{
  font-size: rem(24);
	max-width: rem(220);
  width: 100%;
	@include mq(tab){
		max-width: rem(250);
	}
}

.p-header__title{
  text-align: center;
  font-size: rem(10);
}

.p-header__menutext{
  line-height: 1;
}

.p-header__menutext span{
  font-size: rem(10);
  color:$text-color2;
}


.p-header__drawer span{
  margin: 0 auto;
}

.p-header__overlay {
	background-color: rgba($color: $background, $alpha: 0.6);
	width: 100%;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: -1;
	display: none;
}

.p-header__nav{
  display: flex;
  justify-content:center;
	height: inherit;
	padding-right: $padding-sp;
	padding-left: $padding-sp;
	@include mq(tab) {
		padding-right: $padding-pc;
		padding-left: $padding-pc;
	}

}
.p-header__spbox{
	display: flex;
	justify-content: center;
}

.p-header__sptel{
	display: flex;
	flex-direction: column;
	font-size: rem(24);
	line-height: 1;
	// border:1px solid black;
	color:$text-color2;
	background-color: $background2;
	padding: 4px 10px;
}

.p-header__sptel a{
	font-size: 16px;
}

.p-header__sptel span{
	padding-top: rem(4);
}

.p-header__menubox{
	margin-left: rem(8);
	padding-top: rem(4);
	background-color: $background2;

}

.p-header__sptel span{
  font-size: rem(10);
  color:$text-color2;
}