.p-reception{
}

.p-reception__inner{
  display: flex;
  flex: wrap;
  width: $l-inner;
  max-width: 100%;
  margin: 0 auto;
  flex-direction: column;
  @include mq(tab){
    flex-direction: initial;
  }
}