.p-sub-about__messagebox{
  margin-top: rem(48);
}

.p-sub-about__message{
}

.p-sub-about__subtitle{
  font-size: rem(22);
  color: $text-color2;
  margin-top: rem(48);
  text-align: center;
}

.p-sub-about__featurebox{
  margin-top: rem(48);
}

.p-sub-about__features{
  margin-top: rem(48);
}

.p-sub-about__cards{
  margin-top: rem(48);
}