.p-sub-feature{
  display: flex;
  flex-direction: column;
  padding: rem(24);
  width:  100%;
  @include mq(tab){
    flex-direction: initial;
  }
}

.p-sub-feature:nth-of-type(odd){
  background: $background2;
}

.p-sub-feature:nth-of-type(even){
  flex-direction: column;
  @include mq(tab){
    flex-direction: row-reverse;
  }
}

.p-sub-feature__body{
  max-width: 100%;
  width: 582px;
  padding-top: rem(24);
  @include mq(tab){
    padding-left: rem(24);
    padding-top: 0;
  }
}

.p-sub-feature:nth-of-type(even) .p-sub-feature__body{
  padding-left: 0;
  padding-right: rem(24);
}

.p-sub-feature__no{
  display: inline-block;
  padding: rem(10) rem(8);
  line-height: 1;
  background: $text-color2;
  border-radius: 50%;
  color: $background;
  font-weight: bold;
}

.p-sub-feature__titlebox{
  display: flex;
  align-items: center;
}

.p-sub-feature__title{
  margin-left: rem(16);
}

.p-sub-feature__text{
  margin-top: rem(16);
  padding-left: rem(16);
  @include mq(tab){
    padding-left: rem(56);

  }
}

.p-sub-feature__img{
  width: rem(320);
  max-width: 100%;
}

.p-sub-feature__img img{
  width: inherit;
  max-width: inherit;
}

.box {
  display: flex;
  padding:20px;
}
.box .img {
  margin: 0 20px 0 0;
}
.box:nth-child(even) {
  flex-direction: row-reverse;
}
.box:nth-child(even) .img {
  margin: 0 0 0 20px;
}

.text-box{
  width:calc(100% - 320px);
}

/* unrelated css */

.img {
  width:300px;
  height:200px;
  background: #bbb;
  display: flex;
  font-size:36px;
  color:#fff;
  align-items:center;
  justify-content:center;
}