.p-sub-topic__box {
  margin: rem(64) auto 0;
}

.p-sub-topic__title {
  margin-top: rem(16);
}

.p-sub-topic__text {
  margin-top: rem(64);
}

// .p-sub-topic__pager{
//   display: flex;
//   justify-content: center;
//   color: $text-color2;
//   align-items: center;
//   margin-top: rem(80);
// }

// .p-sub-topic__btn{
//   margin-left: rem(32);
// }

// .p-sub-topic__after{
//   margin-left: rem(32);
// }
