.p-tel{
  padding: rem(8) rem(16);
  color: $text-color2;
  border:1px solid $text-color2;
  border-radius: rem(16);
  line-height: 1.5;
  margin-top: rem(24);
  @include mq(tab){
    margin-top: 0;
  }
}

.p-tel__text{
  font-size: rem(14);
  text-align: center;
  @include mq(tab){
  }
}

.p-tel__no{
  padding-top: rem(0);
  text-align: center;
  font-size: rem(20);
}
