// 色
$background: #fff; // 背景
$background-layer:rgba(255,255,255,0.5);
// $background2: #fff1e9; // 背景
$background2: #F0FCE5; // 背景
$text-color: #333; // テキスト色
// $text-color2: #ff7623; // テキスト色
$text-color2: #8ac343; // テキスト色
$text-color3: #333; // テキスト色
$border-color:#d2d2d2;
// $burger-color: #ff7623; // テキスト色
$burger-color: #8ac343; // テキスト色

// マウスホバー
$opacity: 0.7; // 透過度
 
// フォント
$font-family-base: "";// ベースフォント
$font-size-base: 16px; // ベースフォントサイズ
$font-weight-base: 400; // ベースフォントウェイト
$lh: 1.6; // ベース行間

// ---
// レイアウト
// ---



$l-tab: 768px; // タブレットサイズ
$l-inner: 1000px; // インナー幅
$l-pc: 1440px; // パソコン幅

// ブレークポイント（PC基準）
$breakpoints: (
	"sp": "screen and (min-width: 375px)",
	"tab": "screen and (min-width: #{$l-tab})",
	"pc": "screen and (min-width: #{$l-inner})",
	"lg": "screen and (min-width: #{$l-pc})",
	"max-tab": "screen and (max-width: 767px )",
);


$z-index-top:1000;

$padding-pc: 25px; // タブレット時の余白
$padding-sp: 20px; // スマホ時の余白
