.c-btn{
  display: inline-block;
}
.c-btn a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: rem(10) rem(30);
  color: $text-color2;
  font-size: rem(16);
  background-color: $background;
  border-radius: rem(25);
  border:rem(1) solid $text-color2;
}

.c-btn a::after {
  content: '';
  width: rem(5);
  height: rem(5);
  border-top: rem(1) solid $text-color2;
  border-right: rem(1) solid $text-color2;
  margin-left: rem(20);
  transform: rotate(45deg);
}

.c-btn a:hover {
  background-color: $text-color2;
  color: $background;
}

.c-btn a:hover::after {
  border-color: $background;
}