// .c-contact-button__submit {
// 	-webkit-appearance: none;
// 	background-color: #000000;
// 	background-image: none;
// 	border: none;
// 	border-radius: 0;
// 	color: #fff;
// 	cursor: pointer;
// 	display: inline-block;
// 	font-size: rem(14);
//   // letter-spacing: 0.15em;
//   font-weight: bold;
//   margin: 0;
// 	padding: rem(11) rem(66);
// 	text-decoration: none;
// }

.c-contact-button__submit:hover,
.c-contact-button__submit:focus {
	outline: none;
}

.c-contact-button__submit::-moz-foucus-inner {
	border: none;
	padding: 0;
}