.c-timetable{
  width: inherit;
  max-width: inherit;
  border: none;
}

.c-timetable th{
  background-color: $text-color2;
  color: $background;
  border: none;
  border-right: rem(1) solid $background;
  text-align: center;
}

.c-timetable th:last-of-type{
  border: none;
}

.c-timetable th:first-of-type{
  border-radius: rem(10) 0 0;
}

.c-timetable th:last-of-type{
  border-radius: 0 rem(10) 0 0;
}

.c-timetable__title{
  width: 30%;
  @include mq(tab){
  width: 44%;
  }
} 

.c-timetable__text{
  width: 10%;
  @include mq(tab){
    width: 8%;
  }
}

.c-timetable td{
  text-align: center;
  border: rem(1) solid $border-color;
  border-bottom: none;
}

.c-timetable td:first-of-type{
  border: none;
  border-top:  rem(1) solid $border-color;
}

.c-timetable td:last-of-type{
  border: none;
  border-top:  rem(1) solid $border-color;
}
